<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Connected Devices</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <div class="container">
        <div id="devicesCount" class="count {{'green' if count > 5 else 'red'}}">{{count}}</div>
        <ul id="devicesList">
            {% for device in devices %}
                <li>{{device}}</li>
            {% endfor %}
        </ul>
    </div>
    <script src="/static/script.js"></script>
</body>
</html>
