body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 50px auto;
}

.count {
    font-size: 3rem;
    text-align: center;
    padding: 10px;
    margin: 20px;
}

.green {
    background-color: green;
}

.red {
    background-color: red;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    padding: 5px 0;
}
